@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body
{
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background: darkgrey;
    flex-wrap: wrap;
}

h1 
{
    color: black;
    text-align: center;
    font-size:100px;
}

ul 
{
    margin: 0;
    padding: 0 0 0 20px;
    list-style-type: none;
    display: inline-flex;
    text-align: center;
    flex-wrap: wrap;
}

section 
{
    display: inline-block;
    padding-bottom: 50px;

}

section div 
{
    color: white;
    margin: 0;
    padding: 10;
    text-align: left;

}

.menu a 
{
    display: flex;
    text-align:justify;
    justify-content: center;
    padding: 10px 60px;
    color: white;
    font-size: 20px;
    font-weight: 100;
    transition: .3s linear;
    position: relative;
}

.menu a:hover 
{
    color: rgb(252, 2, 2);
}

.container
{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
}

.container .card
{
    position: relative;
    max-width: 300px;
    height: 260px;
    background: #fff;
    margin: 0px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(10, 10, 10, 0.5);
    transition: 0.5s ease-in-out;
}

.container .card:hover
{
    height: 525px;
}

.container .card .imgBx
{
    position: center;
    width: 270px;
    height: 220px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(5, 5, 5, 0.7);
}

.container .card .imgBx img
{
    max-width: 100%;
    border-radius: 4px;
}

.container .card .content
{
    position: relative;
    margin-top: -140px;
    padding: 10px 150px;
    text-align: center;
    color: rgb(8, 8, 8);
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.descript p
 {
    visibility: hidden;
}

.container .card:hover .descript p
{
    visibility: visible;
    opacity: 1;
    transition-delay: 0.3s;
}

.registration-form {
    width: calc(100% - 10px);
    max-width: 550px;
    max-height: inherit;
    background-color: rgb(17, 150, 173);
    padding: 10px 40px;
    border-radius: 2%;
    box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.3);
}

.registration-form h1 {
    text-align: center;
    margin: 20px 0;
    color: black;
    font-size: 40px;
}

/* placeholder conditions */

.textb 
{
    padding: 0 0 0 10px;
    margin-bottom: 20px;
    position: relative;
}

.textb input 
{
    width: 100%;
    height: 60px;
    border: none;
    background-color: white;
    border-radius: 4px;
    color: black;
    font-size: 18px;
    font-weight: 700;
    padding: 14px 60px 0 10px;
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
}

.placeholder 
{
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 700;
    position: absolute;
    line-height: 30px;
    top: 0;
    left: 20px;
    color: #9d9d9d;
    user-select: none;
    pointer-events: none;
}

.form a 
{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    color: #555;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 8px;
    transition: .2s linear;
}

.continent
{
    width:3000px;
    font-size: 40px;
}